@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.top__color {
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, #645b53 0%, #eb5252 18.23%, #f78f2f 34.37%, #f4c151 48.96%, #52bb76 66.15%, #26a5d7 82.29%, #e069b7 100%);
}

.header {
  height: 70px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  box-shadow: 0 1px 13px -4px #f2f3f5;
}

.header__logo img {
  width: 130px;
}

.header .menuBackground {
  margin: 0 30px 0 20px;
}

.header .menuBackground .dropDownMenu li {
  position: relative;
}

.header .menuBackground .dropDownMenu li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #29303b;
  font-size: 14px;
  font-weight: 400;
}

.header .menuBackground .dropDownMenu li a:hover {
  background: #F3F3F3;
}

.header .menuBackground .dropDownMenu > li {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  /* solve the 4 pixels spacing between list-items */
}

.header .menuBackground .dropDownMenu > li:first-child {
  margin-left: 0;
}

.header .menuBackground .dropDownMenu > li > ul {
  box-shadow: -16px -14px 11px -6px #f2f3f5;
  text-align: left;
  width: 250px;
  background: #ffffff;
  top: 170%;
  left: 0;
  z-index: 9999999;
  padding: 10px 0px;
  position: absolute;
  display: none;
}

.header .menuBackground .dropDownMenu > li > ul:before {
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #000;
  border-left: 10px solid transparent;
  position: relative;
  top: -45px;
  left: 13px;
  border-color: transparent transparent #ffffff transparent;
  width: 0;
  height: 0;
  content: '';
}

.header .menuBackground .dropDownMenu > li > ul .header__webdev {
  margin-top: -30px;
}

.header .menuBackground .dropDownMenu > li > ul .header__webdev:before {
  font-family: Material Icons;
  content: "\e912";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__business:before {
  font-family: Material Icons;
  content: "\e0af";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__finance:before {
  font-family: Material Icons;
  content: "\e850";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__itsoftware:before {
  font-family: Material Icons;
  content: "\e30c";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__office:before {
  font-family: Material Icons;
  content: "\e85d";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__personal:before {
  font-family: Material Icons;
  content: "\e867";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__design:before {
  font-family: 'Font Awesome 5 Free';
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
  content: "\f044";
  font-size: 18px;
}

.header .menuBackground .dropDownMenu > li > ul a {
  position: relative;
  padding: 0px 0 5px 10px;
  display: block;
  text-decoration: none;
  color: #29303b;
  font-size: 14px;
  font-weight: 400;
}

.header .menuBackground .dropDownMenu > li > ul a:after {
  font-family: Material Icons;
  content: "\e5cc";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header .menuBackground .dropDownMenu > li > ul > li > ul {
  text-align: left;
  background: #F2F3F5;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 9999999;
  width: 200px;
  display: none;
}

.header .menuBackground .dropDownMenu > li > ul > li > ul a:before {
  content: "";
}

.header .menuBackground .dropDownMenu > li > ul > li:hover > ul {
  display: block;
}

.header .menuBackground .dropDownMenu > li:hover > ul {
  display: block;
}

.header .menuBackground .dropDownMenu,
.header .menuBackground .dropDownMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__search {
  position: relative;
  flex-grow: 1;
  margin: 0 20px;
}

.header__search input {
  width: 100%;
  border-radius: 2px;
  padding: 10px 10px;
  padding-left: 10px;
  border: none;
  outline: none;
  background: #fbfbf7;
}

.header__search input::placeholder {
  color: #686f7a;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.header__search input:focus {
  background-color: #ffffff;
  border: 1px solid #dedfe0;
}

.header__search i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ec5252;
  font-size: 14px;
}

.header__nav a {
  color: #686f7a;
  font-size: 14px;
  font-weight: 400;
  padding: 13.5px 30px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
}

.header__nav a:hover {
  color: #0f7c90;
  border: 1px solid #f2f3f5;
  outline: none;
}

.header__btn-login {
  background: #ffffff;
  border: 1px solid #F3F3F3;
  padding: 8px 30px;
  border-radius: 5px;
  color: #0f7c90;
  font-size: 14px;
  font-weight: 700;
}

.header__btn-signup {
  background: #F2F3F5;
  border: 1px solid #F2F3F5;
  padding: 8px 30px;
  border-radius: 5px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .header {
    height: 170px;
  }
  .header__logo img {
    width: 190px;
  }
}

.main__content {
  width: 100%;
  background: url(../../img/a9a63915-1546-4ac1-92fd-4284e91a37ef.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
  position: relative;
}

.main__content .main__content--text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
}

.main__content .main__content--text p:first-child {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  text-shadow: 0 2px 4px rgba(41, 48, 59, 0.55);
}

.main__content .main__content--text p:nth-child(2) {
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(41, 48, 59, 0.55);
}

.main__content .main__content--text .content__input {
  position: relative;
  display: inline;
}

.main__content .main__content--text .content__input input {
  outline: none;
  width: 500px;
  border: 1px solid transparent;
  padding: 13px 17px;
  border-radius: 3px;
}

.main__content .main__content--text .content__input input::placeholder {
  font-size: 20px;
  font-weight: lighter;
}

.main__content .main__content--text .content__input i {
  color: #ec5252;
  position: absolute;
  font-size: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  height: 52px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 2;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.main__content .main__content--text .content__input i:hover {
  color: #ffffff;
  background: #ec5252;
  z-index: 1;
}

.new__channel .how__udemy__work {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(-45deg, #ec5252 0%, #6e1a52 100%);
}

.new__channel .how__udemy__work .work__item:first-child {
  display: flex;
  justify-content: flex-start;
}

.new__channel .how__udemy__work .work__item:last-child {
  display: flex;
  justify-content: flex-end;
}

.new__channel .how__udemy__work .work__item:nth-child(2) {
  display: flex;
  justify-content: center;
}

.new__channel .how__udemy__work .work__item {
  color: #ffffff;
  width: 33.333%;
  padding: 20px 2%;
  letter-spacing: 1px;
}

.new__channel .how__udemy__work .work__item p {
  margin: 0;
}

.new__channel .how__udemy__work .work__item p:first-child {
  font-size: 17px;
  padding: 0;
}

.new__channel .how__udemy__work .work__item p:last-child {
  font-size: 15px;
  font-weight: 300;
}

.new__channel .how__udemy__work .work__item .item__icon i {
  font-size: 44px;
  padding-right: 20px;
}

.new__channel .browse__container {
  padding: 30px 1%;
}

.new__channel .browse__container .browse__skills__hub {
  display: flex;
}

.new__channel .browse__container .browse__skills__hub .escription__unit {
  width: 35% !important;
  margin: 15px 15px 28px 0;
  padding: 0 32px;
}

.new__channel .browse__container .browse__skills__hub .skill__hubs__unit {
  width: 65% !important;
}

.new__channel .browse__container .browse__skills__hub .skill__hubs__unit .nav-tabs .nav-link {
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 300;
  color: #29303b;
  border: none;
}

.new__channel .browse__container .browse__skills__hub .skill__hubs__unit .nav-tabs .active {
  border-bottom: 7px solid #007791;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--img {
  height: 100px;
  width: 100%;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--img img {
  height: 100px;
  width: 100%;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail h1 {
  font-size: 20px;
  margin: 0;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail p {
  font-size: 12px;
  color: #686f7a;
  margin: 0;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .rate {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .rate i {
  color: #eb8a2f;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .rate p {
  font-size: 16px;
  color: #ec5252;
  font-weight: 700;
  margin: 0 5px;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .rate span {
  font-size: 12px;
  color: #686f7a;
  font-weight: 300;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .price {
  display: flex;
  align-items: center;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .price p:first-child {
  font-size: 16px;
  color: #29303b;
  margin-right: 10px;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .price p:last-child {
  font-size: 14px;
  text-decoration: line-through;
}

.component {
  padding: 24px 0;
  border-top: 1px solid #dcdacb;
  border-bottom: 1px solid #dcdacb;
}

.component .containers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% !important;
}

.component .containers .component__item {
  display: flex;
}

.component .containers .item__icon {
  margin-right: 16px;
}

.component .containers .item__icon i {
  font-size: 18px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: red;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #0f7c90;
  background: #f2fbfc;
}

.component .containers .items {
  max-width: 250px;
}

.component .containers .items p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.component .containers .items p:first-child {
  font-weight: 700;
}

.list__unit {
  padding: 30px 5%;
}

.list__unit h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.list__unit__items {
  width: 243px;
}

.list__unit__items .list__unit--img {
  width: 100%;
}

.list__unit__items .list__unit--img i {
  width: 100%;
}

.list__unit__items .list__unit--detail h1 {
  font-size: 20px;
  margin: 0;
}

.list__unit__items .list__unit--detail p {
  font-size: 12px;
  color: #686f7a;
  margin: 0;
}

.list__unit__items .list__unit--detail .rate {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.list__unit__items .list__unit--detail .rate i {
  color: #eb8a2f;
}

.list__unit__items .list__unit--detail .rate p {
  font-size: 16px;
  color: #ec5252;
  font-weight: 700;
  margin: 0 5px;
}

.list__unit__items .list__unit--detail .rate span {
  font-size: 12px;
  color: #686f7a;
  font-weight: 300;
}

.list__unit__items .list__unit--detail .price {
  display: flex;
  align-items: center;
}

.list__unit__items .list__unit--detail .price p:first-child {
  font-size: 16px;
  color: #29303b;
  margin-right: 10px;
}

.list__unit__items .list__unit--detail .price p:last-child {
  font-size: 14px;
  text-decoration: line-through;
}

.list__unit__items .bestseller {
  background: #ffe799;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  color: #593d00;
}

.list__unit__items .hightrate {
  font-size: 12px;
  color: #592b00;
  font-weight: 700;
  background: #ffc48c;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
}

.list__unit .owl-carousel .owl-nav button.owl-next,
.list__unit .owl-carousel .owl-nav button.owl-prev {
  top: 30%;
}

.list__unit .owl-carousel .owl-nav button.owl-next {
  right: -20px;
}

.onboarding__banner {
  background: url("../../img/purple-intersect.svg") repeat-x #6e1a52;
  background-size: auto 120%;
  background-position: 0 -2.4rem;
  color: #ffffff;
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.onboarding__banner p:first-child {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
  letter-spacing: 1px;
  line-height: 1.9rem;
}

.onboarding__banner p:nth-child(2) {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.9rem;
}

.onboarding__banner a {
  font-size: 16px;
  padding: 0 16px;
  color: #ffffff;
  text-decoration: none;
  background: transparent;
  border: 1px solid #f7f8fa;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: content;
}

.catelory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 5%;
}

.catelory a {
  text-decoration: none;
}

.catelory__item {
  width: 24%;
  border: 1px solid #dedfe0;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.catelory__item img {
  width: 100%;
  height: 80%;
}

.catelory__item--title h1 {
  font-size: 20px;
  margin: 0;
  color: #29303b;
  font-weight: 700;
  padding: 15px 0 0 15px;
}

.udemystudent {
  padding: 50px 0;
}

.udemystudent__non {
  width: 100%;
  background: #FBFBF8;
  height: 320px;
  display: flex;
  justify-content: center;
}

.udemystudent__non__wrapper {
  display: flex;
  width: 70%;
}

.udemystudent__non__wrapper .wrapper__img {
  width: 50%;
  position: relative;
}

.udemystudent__non__wrapper .wrapper__img img {
  position: absolute;
  left: 20px;
  width: 80%;
  position: relative;
  top: -40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.udemystudent__non__wrapper .wrapper__title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.udemystudent__non__wrapper .wrapper__title h1 {
  font-size: 32px;
  font-weight: 700;
}

.udemystudent__non__wrapper .wrapper__title p {
  font-weight: 400;
  max-width: 400px;
  font-size: 18px;
}

.udemystudent__non__wrapper .wrapper__title a {
  display: inline;
  max-width: 200px;
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
  transition: .5s;
  background: #0f7c90;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 4px;
}

.udemystudent__non__wrapper .wrapper__title a:hover {
  background: #0b5d6b;
}

.udemystudent_2 {
  padding: 100px 0;
}

.udemystudent_2__non {
  width: 100%;
  background: #003640;
  height: 320px;
  display: flex;
  justify-content: center;
}

.udemystudent_2__non__wrapper {
  display: flex;
  width: 70%;
}

.udemystudent_2__non__wrapper .wrapper__img {
  width: 50%;
  position: relative;
}

.udemystudent_2__non__wrapper .wrapper__img img {
  position: absolute;
  left: 20px;
  width: 80%;
  position: relative;
  top: -40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.udemystudent_2__non__wrapper .wrapper__title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.udemystudent_2__non__wrapper .wrapper__title h1 {
  font-size: 32px;
  font-weight: 700;
}

.udemystudent_2__non__wrapper .wrapper__title p {
  font-weight: 400;
  max-width: 400px;
  font-size: 18px;
}

.udemystudent_2__non__wrapper .wrapper__title a {
  display: inline;
  max-width: 220px;
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
  transition: 0.5s;
  background: #0f7c90;
  border: 1px solid transparent;
  padding: 10px 0px;
  border-radius: 4px;
}

.udemystudent_2__non__wrapper .wrapper__title a:hover {
  background: #0b5d6b;
}

.brand {
  margin-top: 4.8rem;
  border-top: 1px solid #dcdacb;
  border-bottom: 1px solid #dcdacb;
  margin-bottom: 20px;
}

.brand__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.brand__item h3 {
  text-align: center;
}

.brand__item .brand__container {
  padding: 32px;
}

.brand__item .brand__container a {
  display: flex;
  justify-content: center;
}

.brand__item .brand__container a .logo__item {
  width: 131px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  margin: 20px;
}

.brand__item .brand__container a .logo__item img {
  width: 100%;
  height: 100%;
}

.brand__item .brand__container a .logo__item:nth-child(2), .brand__item .brand__container a .logo__item:nth-child(5) {
  width: 40px;
}

.userstory {
  padding: 64px 24px;
  border-top: 1px solid #dcdacb;
  border-bottom: 1px solid #dcdacb;
}

.userstory .userstory__container {
  display: flex;
  justify-content: space-around;
}

.userstory .userstory__container .userstory__video {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.userstory .userstory__container .userstory__text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userstory .userstory__container .userstory__text h3 {
  font-size: 32px;
  font-weight: 700;
}

.userstory .userstory__container .userstory__text p {
  font-size: 19px;
  max-width: 400px;
  font-weight: 400;
}

.footer {
  padding: 20px 4%;
}

.footer .link_and_locale {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.footer .link_and_locale ul {
  padding: 0;
  margin-right: 100px;
}

.footer .link_and_locale ul li {
  list-style-type: none;
  padding: 5px 0;
}

.footer .link_and_locale ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #0f7c90;
  transition: 0.5s;
}

.footer .link_and_locale ul li a:hover {
  color: #29303b;
}

.footer .link_and_locale .language {
  position: absolute;
  right: 0;
}

.footer .link_and_locale .language select {
  padding: 10px 60px 10px 20px;
  color: #686f7a;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
}

.footer .logo_and_copyright {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .logo_and_copyright .footer__logo {
  width: 200px;
  height: 35px;
}

.footer .logo_and_copyright .footer__logo img {
  height: 100%;
}

.footer .logo_and_copyright .footer__copyright p {
  color: #686f7a;
  font-size: 12px;
}
/*# sourceMappingURL=home.css.map */