@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.top__color {
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, #645b53 0%, #eb5252 18.23%, #f78f2f 34.37%, #f4c151 48.96%, #52bb76 66.15%, #26a5d7 82.29%, #e069b7 100%);
}

.header {
  height: 70px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  box-shadow: 0 1px 13px -4px #f2f3f5;
}

.header__logo img {
  width: 130px;
}

.header .menuBackground {
  margin: 0 30px 0 20px;
}

.header .menuBackground .dropDownMenu li {
  position: relative;
}

.header .menuBackground .dropDownMenu li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #29303b;
  font-size: 14px;
  font-weight: 400;
}

.header .menuBackground .dropDownMenu li a:hover {
  background: #F3F3F3;
}

.header .menuBackground .dropDownMenu > li {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  /* solve the 4 pixels spacing between list-items */
}

.header .menuBackground .dropDownMenu > li:first-child {
  margin-left: 0;
}

.header .menuBackground .dropDownMenu > li > ul {
  box-shadow: -16px -14px 11px -6px #f2f3f5;
  text-align: left;
  width: 250px;
  background: #ffffff;
  top: 170%;
  left: 0;
  z-index: 9999999;
  padding: 10px 0px;
  position: absolute;
  display: none;
}

.header .menuBackground .dropDownMenu > li > ul:before {
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #000;
  border-left: 10px solid transparent;
  position: relative;
  top: -45px;
  left: 13px;
  border-color: transparent transparent #ffffff transparent;
  width: 0;
  height: 0;
  content: '';
}

.header .menuBackground .dropDownMenu > li > ul .header__webdev {
  margin-top: -30px;
}

.header .menuBackground .dropDownMenu > li > ul .header__webdev:before {
  font-family: Material Icons;
  content: "\e912";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__business:before {
  font-family: Material Icons;
  content: "\e0af";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__finance:before {
  font-family: Material Icons;
  content: "\e850";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__itsoftware:before {
  font-family: Material Icons;
  content: "\e30c";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__office:before {
  font-family: Material Icons;
  content: "\e85d";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__personal:before {
  font-family: Material Icons;
  content: "\e867";
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.header .menuBackground .dropDownMenu > li > ul .header__design:before {
  font-family: 'Font Awesome 5 Free';
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 20px;
  content: "\f044";
  font-size: 18px;
}

.header .menuBackground .dropDownMenu > li > ul a {
  position: relative;
  padding: 0px 0 5px 10px;
  display: block;
  text-decoration: none;
  color: #29303b;
  font-size: 14px;
  font-weight: 400;
}

.header .menuBackground .dropDownMenu > li > ul a:after {
  font-family: Material Icons;
  content: "\e5cc";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header .menuBackground .dropDownMenu > li > ul > li > ul {
  text-align: left;
  background: #F2F3F5;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 9999999;
  width: 200px;
  display: none;
}

.header .menuBackground .dropDownMenu > li > ul > li > ul a:before {
  content: "";
}

.header .menuBackground .dropDownMenu > li > ul > li:hover > ul {
  display: block;
}

.header .menuBackground .dropDownMenu > li:hover > ul {
  display: block;
}

.header .menuBackground .dropDownMenu,
.header .menuBackground .dropDownMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__search {
  position: relative;
  flex-grow: 1;
  margin: 0 20px;
}

.header__search input {
  width: 100%;
  border-radius: 2px;
  padding: 10px 10px;
  padding-left: 10px;
  border: none;
  outline: none;
  background: #fbfbf7;
}

.header__search input::placeholder {
  color: #686f7a;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.header__search input:focus {
  background-color: #ffffff;
  border: 1px solid #dedfe0;
}

.header__search i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ec5252;
  font-size: 14px;
}

.header__nav a {
  color: #686f7a;
  font-size: 14px;
  font-weight: 400;
  padding: 13.5px 30px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
}

.header__nav a:hover {
  color: #0f7c90;
  border: 1px solid #f2f3f5;
  outline: none;
}

.header__btn-login {
  background: #ffffff;
  border: 1px solid #F3F3F3;
  padding: 8px 30px;
  border-radius: 5px;
  color: #0f7c90;
  font-size: 14px;
  font-weight: 700;
}

.header__btn-signup {
  background: #F2F3F5;
  border: 1px solid #F2F3F5;
  padding: 8px 30px;
  border-radius: 5px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .header {
    height: 170px;
  }
  .header__logo img {
    width: 190px;
  }
}

.main__content {
  width: 100%;
  background: url(../../img/a9a63915-1546-4ac1-92fd-4284e91a37ef.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
  position: relative;
}

.main__content .main__content--text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
}

.main__content .main__content--text p:first-child {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  text-shadow: 0 2px 4px rgba(41, 48, 59, 0.55);
}

.main__content .main__content--text p:nth-child(2) {
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(41, 48, 59, 0.55);
}

.main__content .main__content--text .content__input {
  position: relative;
  display: inline;
}

.main__content .main__content--text .content__input input {
  outline: none;
  width: 500px;
  border: 1px solid transparent;
  padding: 13px 17px;
  border-radius: 3px;
}

.main__content .main__content--text .content__input input::placeholder {
  font-size: 20px;
  font-weight: lighter;
}

.main__content .main__content--text .content__input i {
  color: #ec5252;
  position: absolute;
  font-size: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  height: 52px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 2;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.main__content .main__content--text .content__input i:hover {
  color: #ffffff;
  background: #ec5252;
  z-index: 1;
}

.new__channel .how__udemy__work {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(-45deg, #ec5252 0%, #6e1a52 100%);
}

.new__channel .how__udemy__work .work__item:first-child {
  display: flex;
  justify-content: flex-start;
}

.new__channel .how__udemy__work .work__item:last-child {
  display: flex;
  justify-content: flex-end;
}

.new__channel .how__udemy__work .work__item:nth-child(2) {
  display: flex;
  justify-content: center;
}

.new__channel .how__udemy__work .work__item {
  color: #ffffff;
  width: 33.333%;
  padding: 20px 2%;
  letter-spacing: 1px;
}

.new__channel .how__udemy__work .work__item p {
  margin: 0;
}

.new__channel .how__udemy__work .work__item p:first-child {
  font-size: 17px;
  padding: 0;
}

.new__channel .how__udemy__work .work__item p:last-child {
  font-size: 15px;
  font-weight: 300;
}

.new__channel .how__udemy__work .work__item .item__icon i {
  font-size: 44px;
  padding-right: 20px;
}

.new__channel .browse__container {
  padding: 30px 1%;
}

.new__channel .browse__container .browse__skills__hub {
  display: flex;
}

.new__channel .browse__container .browse__skills__hub .escription__unit {
  width: 35% !important;
  margin: 15px 15px 28px 0;
  padding: 0 32px;
}

.new__channel .browse__container .browse__skills__hub .skill__hubs__unit {
  width: 65% !important;
}

.new__channel .browse__container .browse__skills__hub .skill__hubs__unit .nav-tabs .nav-link {
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 300;
  color: #29303b;
  border: none;
}

.new__channel .browse__container .browse__skills__hub .skill__hubs__unit .nav-tabs .active {
  border-bottom: 7px solid #007791;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--img {
  height: 100px;
  width: 100%;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--img img {
  height: 100px;
  width: 100%;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail h1 {
  font-size: 20px;
  margin: 0;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail p {
  font-size: 12px;
  color: #686f7a;
  margin: 0;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .rate {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .rate i {
  color: #eb8a2f;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .rate p {
  font-size: 16px;
  color: #ec5252;
  font-weight: 700;
  margin: 0 5px;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .rate span {
  font-size: 12px;
  color: #686f7a;
  font-weight: 300;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .price {
  display: flex;
  align-items: center;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .price p:first-child {
  font-size: 16px;
  color: #29303b;
  margin-right: 10px;
}

.new__channel .skill__hubs__unit .tab-content .unit__item--detail .price p:last-child {
  font-size: 14px;
  text-decoration: line-through;
}
/*# sourceMappingURL=home.css.map */