// CREATE THEME
//-----COLORS BACKGROUND------
$primary: #f7f8fa;
$secondary: #F2F3F5;
$paper: #ffffff;
$light: #fbfbf7;
$lightDark: #dedfe0;
$darkGrey: #f2f3f5;
$grey: #989586;
$lightGrey: #F3F3F3;
$bestSeller :#ffe799;
$hightRate: #ffc48c;
$blue :#0f7c90;
$blueDark: #0b5d6b;
$border: #dcdacb;
//-----COLORS TEXT------
$textPrimary: #29303b;
$textSecondary: #0f7c90;
$textWhite: #ffffff;
$textGrey:  #686f7a;
$textDarkGrey: #505763;
$textRedOrange: #ec5252;
$textOrangeStar: #eb8a2f;
$textBestSeller : #593d00;
$textHightRate: #592b00;
$textBlueDark : #0b5d6b;
//-------FONT SIZE-------
$body1: 10px;
$body2: 12px;
$subtitle: 14px;
$h6: 16px;
$h5: 18px;
$h4: 20px;
$h3: 30px;
$h2: 40px;
$h1: 44px;
//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;
//----------SPACING---------
$spacing: 10px;
//margin
