.new__channel {
  .skill__hubs__unit {
    .tab-content {
      .unit__item {
        cursor: pointer;
        &--img {
          height: 100px;
          width: 100%;
          img{
            height: 100px;
            width: 100%;
          }
        }
        &--detail{
            h1{
                font-size:$h4;
                margin:0;
            }
            p{
                font-size: $body2;
                color:$textGrey;
                margin:0;
            }
            .rate{
                display:flex;
                align-items: center;
                margin:spacing(.5) 0;
                i{
                    color: $textOrangeStar;
                }
                p{
                    font-size:$h6;
                    color: $textRedOrange;
                    font-weight: $fwBold;
                    margin : 0 spacing(.5);
                }
                span{
                    font-size:$body2;
                    color: $textGrey;
                    font-weight: $fwLight;
                }
            }
            .price{
                display:flex;
                align-items: center;
                p:first-child{
                    font-size:$h6;
                    color: $textPrimary;
                    margin-right:spacing(1);
                }
                p:last-child{
                    font-size:$subtitle;
                    text-decoration: line-through;
                }
            }
        }
      }
    }
  }
}
