.top__color {
  width: 100%;
  height: 8px;
  background: linear-gradient(
    90deg,
    rgb(100, 91, 83) 0%,
    rgb(235, 82, 82) 18.23%,
    rgb(247, 143, 47) 34.37%,
    rgb(244, 193, 81) 48.96%,
    rgb(82, 187, 118) 66.15%,
    rgb(38, 165, 215) 82.29%,
    rgb(224, 105, 183) 100%
  );
}
.header {
  box-shadow: 0 1px 13px -4px #000;
  position: relative;
  .navbar {
    height: 70px;
    background: $paper;
    padding: 0 1%;
    .header__logo {
      img {
        width: 130px;
      }
    }
    .navbar-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-item {
        .header__search {
          position: relative;
          flex-grow: 1; //dư nhiêu lấy hết
          margin: 0 20px;
          width: 500px;
          input {
            width: 100%;
            border-radius: 200px;
            padding: spacing(1) spacing(1);
            padding-left: spacing(2);
            border: none;
            outline: none; //Bỏ đường màu xanh khi nhấn vào
            background: $light;
            &::placeholder {
              @include Text($textGrey, $body2, $fwRegular);
              letter-spacing: 0.5px;
            }
          }
          input:focus {
            background-color: $paper;
            border: 1px solid $lightDark;
          }
          i {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            font-size: 18px;
            color: $textRedOrange;
            font-size: $subtitle;
          }
        }
      }
      .header__btn-login {
        color: $textGrey;
        @include Button($paper, 1px solid $blue, spacing(0.8) spacing(3), 5px);
        @include Text($textSecondary, $subtitle, $fwBold);
      }

      .header__btn-signup {
        color: $textGrey;
        @include Button(
          $blue,
          1px solid $secondary,
          spacing(0.8) spacing(3),
          5px
        );
        margin-left: 10px;
        @include Text($textWhite, $subtitle, $fwBold);
      }
      .header__btn-login:hover {
        color: $textBlueDark;
        border: 1px solid $blueDark;
      }
      .header__btn-signup:hover {
        background: $blueDark;
      }
      .nav-link {
        color: $textPrimary;
        font-size: $subtitle;
      }
      .nav-link:hover {
        color: $textSecondary;
      }
    }
  }
  @media screen and(max-width:1400px) {
    .header__search{
      flex-grow:1;

      width:370px !important;
      
    }
  }
  @media screen and(max-width:1250px) {
    .link{
      display:none;
    }
    .header__search{
      flex-grow:1;
      width:400px !important;
      
    }
  }
  @media screen and(max-width:992px) {
    .link{
      display:none;
    }
    .header__search{
      flex-grow:1;
      width:200px !important;
      
    }
  }
  @media screen and(max-width:768px) {
    .navbar-nav{
      background:#fff;
      z-index:100;
    }
    .dropdown{
      display:none;
    }
    .link{
      display:none;
    }
    .header__search{
      display:block;
    }
  }
}

