.list__unit{
    padding:30px 5%;
    h1{
        font-size:$h4+4px;
        margin-bottom: spacing(1.6);
    }
    &__items{
        width:243px;
        .list__unit--img{
            width:100%;
            i{
                width:100%;
            }
        }
        .list__unit--detail{
            h1{
                font-size:$h4;
                margin:0;
            }
            p{
                font-size: $body2;
                color:$textGrey;
                margin:0;
            }
            .rate{
                display:flex;
                align-items: center;
                margin:spacing(.5) 0;
                i{
                    color: $textOrangeStar;
                }
                p{
                    font-size:$h6;
                    color: $textRedOrange;
                    font-weight: $fwBold;
                    margin : 0 spacing(.5);
                }
                span{
                    font-size:$body2;
                    color: $textGrey;
                    font-weight: $fwLight;
                }
            }
            .price{
                display:flex;
                align-items: center;
                p:first-child{
                    font-size:$h6;
                    color: $textPrimary;
                    margin-right:spacing(1);
                }
                p:last-child{
                    font-size:$subtitle;
                    text-decoration: line-through;
                }
            }
        }
        .bestseller{
            @include Button($bestSeller,none,spacing(.4) spacing(.8),4px);
            font-size:$body2;
            font-weight: $fwBold;
            color: $textBestSeller;
        }
        .hightrate{
            font-size:$body2;
            color: $textHightRate;
            font-weight: $fwBold;
            @include Button($hightRate,none,spacing(.4) spacing(.8),4px);

        }
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        top:30%;
    }
    .owl-carousel .owl-nav button.owl-next{
        right:-20px;
    }
}