.udemystudent{
    padding:spacing(5) 0;
    
    &__non{
        width:100%;
        background:#FBFBF8;
        height:320px;
        display:flex;
        justify-content:center;
        &__wrapper{
            display:flex;
            width:70%;
            .wrapper__img{
                width:50%;
                position: relative;
                img{
                    position:absolute;
                    left:20px;
                width:80%;
                position: relative;
                top:-40px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.08);

                }
            }
            .wrapper__title{
                width:50%;
                display:flex;
                flex-direction: column;
                justify-content:center;
                h1{
                    font-size: $h3 + 2px;
                    font-weight: $fwBold;
                }
                p{
                    font-weight: $fwRegular;
                    max-width:400px;
                    font-size:$h5;
                }
                a{
                    display:inline;
                    max-width: 200px;
                    text-decoration: none;
                    position: relative;
                    text-align: center;
                    color:$textWhite;
                    font-weight:$fwRegular;
                    font-size:$h6+1px;
                    cursor: pointer;
                    transition: .5s;
                    @include Button($blue,1px solid transparent, spacing(1) spacing(2),4px);
                }
                a:hover{
                    background: #0b5d6b;
                }
            }
        }
    }
    
}