.userstory{
    padding: spacing(6.4) spacing(2.4) ;
    border-top: 1px solid $border;
  border-bottom: 1px solid $border;
    .userstory__container{
        
        .userstory__video{
            width:50%;
            display:flex;
            justify-content:flex-end;
        }
        .userstory__text{
            width:40%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            h3{
                font-size:$h3 +2px;
                font-weight: $fwBold;
            }
            p{
                font-size:$h5+1px;
                max-width:400px;
                font-weight:$fwRegular;
            }
        }

    }
    @media screen and(min-width:769px){
        .userstory__container{
            display:flex;
        justify-content:space-around;
        }
    }
    @media screen and(max-width:768px){
        .userstory__container{
            .userstory__video{
                width:100%;
                iframe{
                    width:100%;
                }
            }
            .userstory__text{
                width:100%;
                p{
                    max-width:100%;
                }
            }
        }
    }
}